@import url("../css/normalize.css");
@import url("../css/swiper-bundle.min.css");

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue"),
    url("../fonts/bebas-neue-regular.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue"), url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: local("Noto Sans"), url("../fonts/noto-sans.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

html {
  font-size: 16px;
}
.mobile-menu {
  display: none;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.container {
  max-width: 90rem;
  margin: auto;
  margin-left: 15.0625rem;
}
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 0.0625rem solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.logo-phone {
  fill: #5c8ee6;
}
.logo-dark {
  display: none;
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
}
.navbar-light .logo-light {
  display: none;
}
.navbar-light .logo-dark {
  display: block;
}
.navbar-scroll {
  height: 4.5rem;
}
.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}
.navbar-light .header-logo-path {
  fill: #292d33;
}
.header {
  padding-top: 5.875rem;
}
.no-webp .header-image {
  background-image: url("../img/header-bg.png");
}
.header-image {
  background-image: url("../img/header-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0 3.125rem;
  border-right: 0.0625rem solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}
.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}
.header-nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.0081rem;
  color: inherit;
  position: relative;
}
.header-nav-link:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #5c8ee5;
  transition: width 0.2s;
  right: 0;
  left: auto;
}
.header-nav-link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-right: 3.125rem;
}
.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}
.button {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  color: #fff;
  background: #3a71d1;
  padding: 1.5625rem 3.8125rem;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.navbar-button .button-icon {
  display: none;
}
.navbar-button {
  flex-shrink: 0;
  letter-spacing: 0.0125rem;
  height: 100%;
  padding-left: 3.1625rem;
  padding-right: 2.1563rem;
  padding-bottom: 1.3875rem;
}
.header-button {
  height: 100%;
  word-spacing: 0.0187rem;
}
.seporator {
  background: #5c8ee5;
  width: 150px;
  height: 2px;
}
.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}
.header-title {
  font-family: "Bebas Neue";
  max-width: 67.5rem;
  font-size: 4.9813rem;
  font-weight: 200;
  padding-right: 3.7188rem;
  margin: 1.4375rem 0;
  letter-spacing: 0.0063rem;
  word-spacing: 0.025rem;
}
.header-text {
  max-width: 45rem;
  font-size: 1rem;
  font-weight: 380;
  line-height: 162%;
  margin-top: 2.4375rem;
  margin-bottom: 3.125rem;
  letter-spacing: 0.0125rem;
  word-spacing: 0.0125rem;
}
.header-features {
  display: flex;
  min-height: 100%;
  width: 90rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  position: relative;
}
.header-features-gray {
  display: flex;
  min-height: 100%;
  width: 90rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #292d33;
  position: relative;
}
.logo-features {
  width: 2.25rem;
  height: 2.25rem;
}
.header-features-item {
  height: auto;
  padding: 1.8125rem 3.125rem;
  width: 15rem;
  border: 0.0625rem solid rgba(235, 235, 240, 0.2);
}
.header-features-item-gray {
  height: auto;
  padding: 1.8125rem 3.125rem;
  width: 15rem;
  border: 0.0625rem solid rgba(235, 235, 240, 1);
}
.slider-buttons {
  display: none;
  height: 44px;
}
.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  height: 36px;
  width: 24px;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-features-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: -0.0063rem;
  margin-bottom: -0.0625rem;
  margin-top: 1.0063rem;
}
.section {
  margin-top: 8.475rem;
  margin-bottom: 9.375rem;
}
.section-title,
.trademark-section-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 120%;
  color: #292d33;
  margin-top: 1.5rem;
  margin-bottom: 2.2rem;
}
.section-title-mobile {
  display: none;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
}
.steps-item {
  max-width: 20.625rem;
}
.steps-num {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
  color: #5c8ee5;
  display: flex;
  align-items: center;
  margin-top: 0.125rem;
}
.steps-num::after {
  content: "";
  height: 0.0625rem;
  background: #ebebf0;
  width: 100%;
}
.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 2.0625rem;
  margin-bottom: 0.625rem;
  padding-right: 1.875rem;
  letter-spacing: 0.0125rem;
}
.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 0.8125rem;
  margin-bottom: 1.1875rem;
  padding-right: 1.875rem;
  letter-spacing: 0.0063rem;
  word-spacing: -0.0125rem;
}
.button-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee5;
  letter-spacing: 0.0125rem;
  padding-top: 0.075rem;
}
.button-link::before {
  content: "";
  height: 0.0625rem;
  background: #5c8ee5;
  width: 2.5rem;
  margin-right: 1.25rem;
  transition: width 0.2s;
}
.button-link:hover::before {
  width: 60px;
}
.primary-buttons-wrapper {
  display: flex;
  height: 3.75rem;
  justify-content: flex-end;
}
.primary-button-prev,
.primary-button-next {
  background: #5c8ee6;
  height: 100%;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.section-production {
  margin-top: -2.525rem;
  margin-bottom: 9.375rem;
}
.steps-buttons {
  display: none;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.5rem;
}
.card {
  text-decoration: none;
  flex-basis: 33.3%;
  border: 1px solid #ebebf0;
  height: 37.2rem;
  position: relative;
  transition: border 0.2s;
}
.card:hover .card-title {
  color: #5c8ee5;
}
.card:hover {
  border-color: #5c8ee5;
}
.card-content {
  padding: 2.7rem 3.025rem;
  letter-spacing: 0.2px;
}
.card-title {
  color: #292d33;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 140%;
  margin-top: -0.8px;
  margin-bottom: -0.175rem;
  transition: color 0.2s;
}
.card-text {
  color: #828a99;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  padding-right: 4.4rem;
  margin-top: 0.9rem;
  margin-bottom: 21.825rem;
}
.card-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  z-index: 0;
}
.trademark-section {
  margin-top: -0.3rem;
}
.trademark-cards {
  display: flex;
  margin-top: 3.4rem;
}
.trademark-card {
  display: grid;
  flex-basis: 50%;
  text-decoration: none;
  padding: 3.125rem;
  border: 1px solid #ebebf0;
  transition: border 0.2s;
  grid-template-columns: 180px 1fr;
  grid-template-rows: auto 2fr;
  grid-column-gap: 3.125rem;
  grid-template-areas: "logo title title" "logo text text";
}
.trademark-card:hover {
  border-color: #5c8ee5;
}
.trademark-logo {
  grid-area: logo;
  width: 11.25rem;
  height: 11.25rem;
  filter: grayscale(100%);
}
.trademark-card:hover .trademark-logo {
  filter: grayscale(0);
}
.trademark-title {
  grid-area: title;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  color: #292d33;
  margin: 0;
  transition: color 0.2s;
}
.trademark-card:hover .trademark-title {
  color: #5c8ee5;
}
.trademark-text {
  grid-area: text;
  font-size: 1rem;
  font-weight: 400;
  line-height: 163.6%;
  color: #828a99;
  margin-top: 0.625rem;
  margin-left: -2.3px;
  padding-right: 1.1rem;
  letter-spacing: 0.1px;
}
.founder {
  min-height: 41.25rem;
  position: relative;
}
.founder-photo {
  position: absolute;
  min-width: 44.2%;
  left: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
}
.founder-content-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 9.3rem;
}
.founder-content {
  max-width: 45rem;
  margin-top: 3.1rem;
}
.founder-title {
  padding-right: 4.8rem;
  margin-bottom: 1.7rem;
}
.founder-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 162%;
  color: #828a99;
  margin-top: 1.3rem;
  letter-spacing: 0.1px;
  word-spacing: 0.4px;
}
.founder-link {
  padding-top: 0.875rem;
  word-spacing: -1.3px;
}
.founder-link-mobile {
  display: none;
}
.clients-wrapper {
  display: flex;
  gap: 3.125rem;
}
.clients-content {
  flex-basis: 50%;
}
.clents-list {
  flex-basis: 50%;
}
.clients-list {
  list-style-type: none;
  padding: 0;
  columns: 2 auto;
  gap: 3.125rem;
  margin-top: 2.8rem;
}
.clients-list-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  color: #292d33;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  padding-bottom: 1.3rem;
}
.clients-logo-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 3;
  margin-top: 1.9rem;
}
.clients-logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
  width: 6.375rem;
  height: 9.95rem;
  border: 1px solid #ebebf0;
  filter: grayscale(100%);
  transition: filter 0.2s;
}
.clients-logo-item:hover {
  filter: grayscale(0);
}
.clients-logo {
  display: flex;
  max-width: 50%;
  width: 4.375rem;
  height: 4.375rem;
}
.clients-logo img {
  width: 100%;
  height: 100%;
}
.blog {
  margin-top: 9.475rem;
}
.blog-card {
  display: flex;
  position: relative;
  min-height: 24.9rem;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  justify-content: flex-end;
  padding: 3.125rem;
  margin-top: 1.4rem;
}
.blog-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(41, 45, 51, 0.6);
  z-index: -1;
}
.blog-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.blog-card-title {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0.625rem;
  margin-top: 0;
  letter-spacing: 0.1px;
}
.blog-card-text {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 0.625rem;
  margin: 0;
  word-spacing: 1px;
}
.blog-slider-footer {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  justify-content: space-between;
}
.bg-grey {
  background: #f0f2f5;
}
.section-cta {
  position: relative;
  padding-top: 1.35rem;
  margin-top: 14.175rem;
  padding-bottom: 6.25rem;
}
.section-cta-none {
  display: none;
}
.cta-image {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 45rem;
  width: 50%;
}
.cta-form-wrapper {
  display: flex;
  margin-top: 2.8rem;
  margin-left: 52.4rem;
}
.cta-form {
  max-width: 52.5rem;
}
.cta-form-text {
  color: #828a99;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: -0.425rem;
  margin-bottom: 3.1rem;
  max-width: 40rem;
  letter-spacing: 0.1px;
}
.input-group-wrapper {
  display: flex;
  gap: 1.875rem;
}
.input-group-vertical {
  display: flex;
  flex-direction: column;
}
.input-group {
  position: relative;
  height: 4.125rem;
  width: 25.3438rem;
  flex-grow: 1;
  background-color: #f0f2f5;
}
.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem 1.875rem;
  border: 1px solid #e4e4eb;
  background-color: inherit;
}
.input-group-label {
  position: absolute;
  cursor: text;
  top: 1.5rem;
  left: 1.975rem;
  color: #828a99;
  font-size: 16px;
  font-weight: 400;
  transition: top 0.2s, left 0.2s font-size 0.2s;
}
.input:focus {
  border: 1px solid #5c8ee5;
  outline: none;
}
.input:focus ~ .input-group-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
  top: -0.5rem;
  left: 1.25rem;
  font-size: 0.625rem;
  background-color: #f0f2f5;
  background-color: inherit;
  padding: 0 0.625rem;
}
.input.is-invalid {
  border: 1px solid red;
}
.just-validate-error-label {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: inherit;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  transform: translateY(-50%);
  font-size: 0.8rem;
  display: inline-block;
}
.cta-form-footer {
  gap: 1.875rem;
  display: flex;
  align-items: center;
  margin-top: 1.95rem;
}
.cta-form-button {
  flex-shrink: 0;
  height: 3.875rem;
  width: 14.75rem;
  padding: 0;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.4px;
}
.notify {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  margin-top: -0.0562rem;
  letter-spacing: 0.1px;
}
.notify-icon {
  flex-shrink: 0;
}
.notify-text {
  max-width: 23.75rem;
  color: #828a99;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
}
.footer-top {
  padding-top: 3.125rem;
  padding-bottom: 2.525rem;
  display: flex;
  align-items: center;
}
.footer-logo {
  width: 12.5rem;
  height: 3.95rem;
}
.footer-info {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  color: #292d33;
  gap: 0.625rem;
  padding-left: 5.1rem;
}
.mail-footer-info {
  padding-left: 3.3rem;
}
.footer-info-address,
.footer-info-email {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
}
.footer-phone {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  color: #292d33;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  padding-left: 9.9rem;
}
.footer-social {
  display: flex;
  gap: 0.9625rem;
  padding-left: 4.7rem;
}
.footer-social-link {
  text-decoration: none;
}
.footer-seporator {
  color: #ebebf0;
  background-color: #ebebf0;
}
.footer-bottom {
  display: flex;
  padding-top: 2.625rem;
  padding-bottom: 1.425rem;
}
.footer-menu-title {
  margin-top: 0;
  margin-bottom: 1.875rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  color: #292d33;
  word-spacing: 2.4px;
}
.footer-menu-list {
  margin: 0;
  padding-left: 1.25rem;
  list-style-type: none;
}
.footer-menu-column-2 {
  columns: 20rem auto;
  min-width: 45.2rem;
}
.footer-menu-link {
  display: block;
  text-decoration: none;
  color: #828a99;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  word-spacing: 1.3px;
  margin-bottom: 1.0375rem;
}
.footer-menu-link-bold {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  color: #292d33;
  margin-bottom: 1.875rem;
}
.footer-menu-wrapper {
  margin-right: -0.3rem;
}
.footer-menu-wrapper:last-child {
  margin-left: 11rem;
}
.footer-wrapper {
  color: #828a99;
}
.footer-wrapper,
.footer-legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.175rem;
}
.footer-copyright,
.footer-policy,
.made-in {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: inherit;
}
.logo-ruso {
  width: 3.25rem;
  height: 0.6875rem;
}
.mobile-made-in {
  display: none;
}
.footer-author {
  display: flex;
  gap: 0.6625rem;
  align-items: center;
}
.modal {
  opacity: 0;
  visibility: hidden;
  transform: translate(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.5);
  z-index: 10;
  display: flex;
}
.modal.is-open {
  transform: translate(0);
  visibility: visible;
  opacity: 1;
}
.modal.is-open .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}
.modal-dialog {
  background-color: #fff;
  margin: auto;
  max-width: 28.75rem;
  padding: 2.5rem 3.125rem;
  padding-top: 2.8rem;
  position: relative;
  transform: translateY(-10%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2.9rem;
  right: 3.025rem;
  width: 3.225rem;
  height: 3.125rem;
  border: 1px solid #ebebf0;
}
.modal-title {
  color: #292d33;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 1.55rem;
}
.modal-text {
  color: #828a99;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 1.875rem;
  word-spacing: 0.1px;
  letter-spacing: 0.1px;
}
.modal-input {
  background-color: #fff;
}
.modal-input-group {
  background-color: #fff;
  width: 22.5rem;
}
.modal-form-footer {
  margin-top: 1.775rem;
}
.modal-form-button {
  display: block;
  font-size: 0.9rem;
  width: 100%;
  height: 3.875rem;
  padding: 0;
  margin-bottom: 1.5rem;
}
.modal-notify-icon {
  margin-top: 0.2rem;
}
.modal-notify {
  margin-top: 0.4rem;
}
.modal-success.is-open {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.image-success {
  width: 22.5rem;
  height: 19.375rem;
}
.modal-title-success {
  margin-top: 0.875rem;
  margin-bottom: 1.45rem;
}
.modal-success-button {
  text-decoration: none;
  width: 100%;
  height: 3.875rem;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  font-size: 14.1px;
  font-weight: 700;
  line-height: 164%;
}
.about {
  margin-top: -8.4rem;
}
.bg {
  background-color: #f0f2f5;
  height: 16.875rem;
}
.bg-image-ag {
  background-color: #f0f2f5;
  height: 16.875rem;
  background-image: url("../img/img-back/car-chem.png");
  background-repeat: no-repeat;
  background-position: right 13.9375rem bottom;
}
.bg-image-blog {
  height: 21.875rem;
  background-image: url("../img/img-back/blog-more.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(41, 45, 51, 2);
}
.bg-image-blog .section-title,
.bg-image-blog ul.breadcrumb li a,
.bg-image-blog ul.breadcrumb li + li:before,
.bg-image-blog ul.breadcrumb li {
  color: rgba(255, 255, 255, 1);
}
.section-about {
  padding-top: 3.225rem;
  margin-top: 14.175rem;
  padding-bottom: 6.25rem;
  margin-bottom: 6.25rem;
}
.title-about {
  font-size: 5rem;
  margin-top: 1.4rem;
  margin-bottom: 1.8rem;
}
.breadcrumb {
  list-style: none;
  padding-left: 0;
}
ul.breadcrumb li {
  display: inline;
  color: #292d33;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
ul.breadcrumb li + li:before {
  content: "— ";
  color: #828a99;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-left: -0.8rem;
  margin-right: 0.4rem;
}
ul.breadcrumb li a {
  color: #828a99;
  text-decoration: none;
}
.active {
  padding-left: 1.3rem;
}
@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }
  .header-image {
    background-position: center;
  }
  .footer-phone {
    padding-left: 7rem;
  }
  .logo-ruso {
    padding-top: 0;
  }
}
@media (max-width: 1487px) {
  .header-logo {
    padding: 2rem;
  }
  .logo-svg {
    width: 6rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .header-phone {
    margin-right: 2rem;
  }
  .container {
    margin: auto;
  }
  .founder-photo {
    width: 68%;
  }
  .cta-form-wrapper {
    justify-content: flex-end;
  }
  .input-group {
    width: auto;
  }
  .footer-logo {
    width: 12.5rem;
    height: 3.95rem;
  }
}
@media (max-width: 1270px) {
  .container {
    max-width: 70rem;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 5.6rem;
  }
  .navbar-button {
    padding-left: 2.2rem;
    padding-right: 2.7rem;
  }
  .header-features {
    width: 100%;
  }
  .header-features-item {
    min-height: 100%;
  }
  .primary-buttons-wrapper {
    height: 2.5rem;
  }
  .primary-button-prev,
  .primary-button-next {
    width: 3.75rem;
  }
  .steps-buttons {
    display: flex;
  }
  .steps {
    gap: 1.075rem;
  }
  .card {
    flex-basis: 50%;
  }
  .trademark-card {
    padding: 1.125rem;
    grid-template-columns: 133px 1fr;
    grid-column-gap: 2.125rem;
    grid-template-areas: "logo title" "logo text";
  }
  .trademark-logo {
    width: 100%;
  }
  .trademark-text {
    padding-right: 0;
  }
  .founder-content {
    max-width: 35rem;
  }
  .clients-content {
    flex-basis: 60%;
  }
  .clients-logo-list {
    flex-shrink: 6;
  }
  .clients-logo-item {
    height: auto;
  }
  .cta-image {
    left: -8.0625rem;
    max-width: 43rem;
  }
  .footer-top {
    justify-content: space-between;
  }
  .footer-logo {
    width: 9.5rem;
  }
  .footer-phone,
  .footer-info,
  .footer-social {
    padding-left: 0;
  }
  .footer-phone {
    font-size: 1rem;
  }
  .footer-menu-wrapper {
    margin-right: -1.3rem;
  }
  .footer-menu-column-2 {
    min-width: 43.2rem;
  }
  .footer-menu-wrapper:last-child {
    margin-left: 7rem;
  }
}
@media (max-width: 1200px) {
  .slider-buttons {
    display: flex;
  }
  .trademark-card {
    grid-template-columns: 150px auto;
  }
  .trademark-logo {
    width: 100%;
  }
}
@media (max-width: 1180px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 1000px) {
  .header-nav {
    padding-left: 1rem;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 60rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .logo-svg {
    width: 11.15rem;
    height: 3.25rem;
  }
  .mobile-menu-toggle {
    width: 80.9px;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.3rem 2.4rem 2.1rem 2.6rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    height: 1px;
    background-color: rgba(235, 235, 240, 0.8);
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #fff;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  .mobile-submenu-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    color: #828a99;
  }
  .mobile-phone {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;
    color: #292d33;
    text-decoration-line: underline;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 1rem;
  }
  .mobile-info-address,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    color: #292d33;
  }
  .network-buttons {
    display: flex;
    gap: 15px;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(9.7px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-9.7px);
  }
  .steps-text {
    padding-right: 2.275rem;
  }
  .trademark-cards {
    flex-direction: column;
  }
  .trademark-card {
    padding: 2.125rem;
  }
  .founder-photo {
    width: 63%;
  }
  .clients-wrapper {
    flex-direction: column;
  }
  .clients-logo-list {
    margin-top: -2.1rem;
  }
  .clients-logo-item {
    height: 8.95rem;
    padding: 1rem;
  }
  .section-cta {
    padding-bottom: 0.25rem;
    margin-top: 9.175rem;
  }
  .cta-image {
    max-width: 35rem;
    left: -13.0625rem;
  }
  .cta-form {
    margin-bottom: 1.5rem;
  }
  .input-group-label {
    font-size: 13px;
  }
  .cta-form-button {
    font-size: 0.975rem;
  }
  .footer {
    margin-top: 2rem;
  }
  .footer-menu-wrapper {
    margin-right: 0;
  }
  .footer-bottom {
    justify-content: space-between;
  }
  .footer-menu-column-2 {
    min-width: 26.2rem;
  }
  .footer-logo {
    width: 8.15rem;
    height: 2.95rem;
  }
  .bg-image-ag {
    background-image: none;
  }
}
@media (max-width: 852px) {
  .container {
    max-width: 40rem;
  }
  .header-title {
    font-size: 4rem;
  }
  .header-content {
    padding-top: 3rem;
  }
  .header-features-item {
    min-height: 100%;
    padding: 0.8125rem 2.125rem;
  }
  .card {
    flex-basis: 100%;
  }
  .founder-photo {
    position: relative;
    width: 100%;
    margin-bottom: 1.125rem;
  }
  .founder-content-wrapper {
    margin-top: 0.3rem;
  }
  .cta-image {
    display: none;
  }
  .footer-top {
    gap: 0.5rem;
    flex-direction: column;
  }
  .footer-phone {
    font-size: 1.75rem;
  }
  .footer-logo {
    width: 12.5rem;
    height: 3.95rem;
  }
  .footer-menu-column-2 {
    min-width: 23rem;
  }
  .footer-menu-wrapper {
    margin-right: -2.875rem;
  }
  .footer-menu-wrapper:last-child {
    margin-left: 6rem;
  }
  .footer-copyright,
  .footer-policy,
  .made-in {
    font-size: 0.65rem;
  }
  .footer-wrapper,
  .footer-legal {
    gap: 1rem;
  }
}
@media (max-width: 576px) {
  .container {
    margin-top: 2rem;
    margin-left: 15px;
    max-width: 90%;
  }
  .navbar-button {
    padding-left: 2.3rem;
    padding-right: 2.4rem;
  }
  .seporator {
    width: 8.25rem;
    height: 1px;
  }
  .header-title {
    margin-top: 1.4rem;
    font-size: 4rem;
  }
  .header-content {
    padding-top: 2rem;
  }
  .section-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .steps {
    margin-bottom: 0.4rem;
  }
  .steps-title {
    font-size: 1.85rem;
    line-height: 130%;
    letter-spacing: -0.0875rem;
    margin-top: 3.0625rem;
  }
  .steps-text {
    font-size: 1.2rem;
    font-weight: 380;
    line-height: 159.4%;
    padding-right: 2.775rem;
    letter-spacing: 0;
    word-spacing: 0;
  }
  .button-link {
    font-size: 1.2rem;
    padding-top: 0.775rem;
  }
  .button-link::before {
    width: 3.3rem;
    margin-right: 1.65rem;
  }
  .steps-button-next,
  .steps-button-prev {
    padding: 10px 15px;
    width: 56.7px;
  }
  .trademark-card {
    padding: 2.425rem;
    padding-right: 1.25rem;
    grid-template-areas: "logo title" "text text";
  }
  .trademark-cards {
    width: 100%;
    height: 44.725rem;
  }
  .trademark-logo {
    width: 8.35rem;
    height: 8.4625rem;
  }
  .trademark-title {
    line-height: 133.4%;
    margin-left: -3.7rem;
    letter-spacing: -0.5px;
  }
  .trademark-text {
    font-size: 1.1rem;
    line-height: 165.6%;
    letter-spacing: 0.5px;
    padding-right: 0;
    margin-top: 1.625rem;
    margin-bottom: 0;
    margin-left: -0.0187rem;
  }
  .founder-content-wrapper {
    margin-right: 0;
  }
  .clients-list {
    columns: 1;
  }
  .clients-logo-item {
    flex-basis: 50%;
  }
  .clients-logo-item:last-child {
    display: none;
  }
  .cta-form {
    margin-top: -2rem;
  }
  .footer-top {
    align-items: flex-start;
    gap: 1.4125rem;
    padding-top: 2.2625rem;
    padding-bottom: 1.9rem;
  }
  .footer-logo {
    width: 13.4rem;
    height: 4.15rem;
  }
  .footer-phone {
    font-size: 2.35rem;
    padding-top: 1.1rem;
  }
  .footer-info {
    font-size: 1.1938rem;
    padding-top: 0.3rem;
  }
  .mail-footer-info {
    margin-top: -0.8rem;
  }
  .footer-social {
    gap: 1.2625rem;
    padding-top: 0.1rem;
  }
  .footer-bottom,
  .footer-wrapper,
  .footer-legal {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-bottom {
    font-size: 0.875rem;
    padding-top: 0.4rem;
    margin-bottom: -3.8rem;
  }
  .footer-menu-title,
  .footer-menu-link {
    font-size: 1.2rem;
  }
  .footer-menu-title {
    margin-top: -0.3062rem;
    margin-bottom: 1.975rem;
  }
  .footer-menu-wrapper {
    padding-bottom: 1.7rem;
  }
  .footer-menu-wrapper:last-child {
    margin-left: 5.2rem;
  }
  .footer-menu-link {
    margin-top: -1.3rem;
    padding-left: 0.45rem;
    word-spacing: -2.9px;
  }
  .footer-menu-item {
    padding-top: 1rem;
  }
  .footer-menu-link-bold {
    margin-left: -7rem;
    margin-bottom: 2.675rem;
  }
  .footer-copyright,
  .footer-policy,
  .made-in {
    font-size: 0.95rem;
    margin: 0;
    margin-bottom: 0.4rem;
    margin-top: -0.4rem;
  }
  .footer-copyright {
    word-spacing: 1.7px;
    letter-spacing: 0.1px;
  }
  .footer-policy,
  .made-in {
    word-spacing: 0.6px;
    letter-spacing: 0.4px;
  }
  .footer-author {
    align-items: flex-start;
  }
}
@media (max-width: 440px) {
  .header-title {
    margin-top: 1.3375rem;
    padding: 0;
  }
  .header-text {
    font-size: 1.2rem;
    margin-top: 1.3375rem;
    margin-bottom: 2.5rem;
    line-height: 152.3%;
    letter-spacing: -0.1px;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-button {
    width: 28.8rem;
    height: 5.1rem;
    letter-spacing: 1px;
  }
  .header-features {
    margin-top: 4.25rem;
    margin-bottom: 0;
  }
  .header-features-item {
    padding: 1.7rem 2.6rem 1.7rem 2.4rem;
    min-width: 244.133px;
    margin-right: -1px;
    margin-bottom: -1px;
  }
  .logo-features {
    width: 2.95rem;
    height: 2.95rem;
  }
  .header-features-text {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 149%;
    letter-spacing: 0.2px;
    word-spacing: -0.6px;
    margin-top: 1.4063rem;
    margin-bottom: 0.2375rem;
  }
  .slider-buttons {
    margin-bottom: -2px;
  }
  .section {
    margin-top: 8.275rem;
    margin-bottom: 11.9rem;
  }
  .steps-item {
    max-width: 100%;
  }
  .steps-text {
    margin-top: 0;
  }
  .steps-num {
    font-size: 3.9rem;
    margin-bottom: -1.9rem;
  }
  .card {
    height: 35.8rem;
    min-width: 28.8625rem;
  }
  .cards {
    margin-top: 2.7rem;
  }
  .card-content {
    padding: 1.6rem 2.325rem;
  }
  .card-title {
    letter-spacing: -0.4px;
    margin-top: -1.1px;
  }
  .title-margins {
    margin-top: -4.1px;
  }
  .card-text {
    font-size: 1.1rem;
    line-height: 165%;
    letter-spacing: 0.6px;
    margin-top: 0;
    padding-right: 0;
  }
  .card-image {
    width: 100%;
  }
  .section-title {
    margin-top: 1.4rem;
  }
  .section-production {
    margin-top: -3.925rem;
    margin-bottom: 7.975rem;
  }
  .card-text {
    margin-top: 10.5px;
  }
  .trademark-section-title {
    display: none;
  }
  .section-title-mobile {
    display: block;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 120%;
    color: #292d33;
    margin-top: 1.5rem;
    margin-bottom: -0.6rem;
  }
  .trademark-section {
    margin-top: 0;
  }
  .founder-content {
    margin-top: 0.9rem;
  }
  .founder-text {
    font-size: 1.2rem;
    font-weight: 373;
    line-height: 153%;
    letter-spacing: -0.1px;
    word-spacing: 0.1px;
    margin-top: -0.4rem;
  }
  .section-clients {
    margin-top: -3.7rem;
  }
  .clients-list {
    margin-top: 3.1rem;
  }
  .clients-list-item {
    gap: 1.65rem;
    font-size: 1.2rem;
    margin-top: -0.3rem;
    padding-bottom: 1.55rem;
    letter-spacing: -0.1px;
    word-spacing: -0.3px;
  }
  .clients-logo-list {
    width: 28.6812rem;
    margin-top: -3.2rem;
  }
  .clients-logo-item {
    height: 9.15rem;
  }
  .blog {
    margin-bottom: -3.525rem;
    margin-top: -3.4rem;
  }
  .blog-card {
    min-height: 15.6rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
    margin-top: 1.2rem;
  }
  .blog-card-image,
  .blog-card::before {
    max-height: 16.3563rem;
  }
  .blog-card-title {
    line-height: 117.2%;
    padding: 7.7rem 0.4rem 0 0.7rem;
    letter-spacing: -0.5px;
  }
  .blog-card-text {
    display: none;
  }
  .blog-slider-footer {
    margin-top: 1.075rem;
  }
  .primary-buttons-wrapper {
    height: 3.75rem;
  }
  .primary-button-next,
  .primary-button-prev {
    width: 4.65rem;
  }
  .section-cta {
    margin-top: 12.075rem;
    padding-top: 2.35rem;
    padding-bottom: 2.6rem;
  }
  .cta-form-text {
    font-size: 1.1rem;
    letter-spacing: 0.4px;
    word-spacing: 0.5px;
    margin-top: -0.325rem;
    margin-bottom: 2.8rem;
  }
  .input-group-wrapper {
    flex-direction: column;
    gap: 1.25rem;
  }
  .cta-form-footer {
    flex-direction: column;
    gap: 2.575rem;
  }
  .cta-form-button {
    width: 100%;
    height: 4.975rem;
    margin: -0.3937rem;
  }
  .notify {
    width: 100%;
    margin-top: 0.5438rem;
  }
  .notify-text {
    margin-left: 0.3187rem;
    margin-top: -0.2rem;
    letter-spacing: 0.2px;
    word-spacing: -0.2px;
  }
}
@media (max-width: 375px) {
  .trademark-cards {
    width: 28.7625rem;
    height: 44.725rem;
  }
  .founder-link {
    display: none;
  }
  .founder-link-mobile {
    display: flex;
    padding-top: 0.475rem;
  }
  .input-group {
    height: 5.125rem;
    width: 28.2438rem;
  }
  .input-group-label {
    font-size: 14.5px;
    top: 1.8rem;
    left: 2.575rem;
  }
  .cta-form-button {
    font-size: 1.075rem;
  }
  .made-in {
    display: none;
  }
  .mobile-made-in {
    display: inline-block;
  }
  .modal-title {
    font-size: 40px;
  }
  .modal-close {
    top: 3.5rem;
  }
  .modal-input-group {
    width: 22.5125rem;
  }
  .modal-form-button {
    font-size: 14px;
    height: 62px;
  }
}
