* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
html {
  font-size: 16px;
}
.mobile-menu {
  display: none;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.container {
  max-width: 90rem;
  margin: auto;
}
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: .0625rem solid rgba(235, 235, 240, 0.20);
  transition: background-color 0.2s, height 0.2s;
}
.logo-phone {
  fill: #5c8ee6;
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 4.5rem;
}
.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}
.navbar-light .header-logo-path {
  fill: #292d33;
}
.header {
  padding-top: 5.875rem;
  min-height: 100vh;
}
.header-image {
  background-image: url('../img/header-bg.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -2.9375rem;
  position: relative;
}
.header-image::before {
  content:"";
  position: absolute;
  background: rgba(41, 45, 51, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0px 3.125rem;
  border-right: .0625rem solid rgba(235, 235, 240, 0.20);
  height: 100%;
}
.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;  
}
.header-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}
.header-nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .0081rem;
  color: inherit;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: .625rem;
  margin-right: 3.125rem;
}
.header-phone-link {  
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}
.button {
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  color: #ffffff;
  background: #3a71d1;
  padding: 1.5625rem 3.8125rem;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.navbar-button .button-icon {
  display: none;
}
.navbar-button {
  flex-shrink: 0;
  letter-spacing: .0125rem;
  height: 100%;
  padding-left: 3.1625rem;
  padding-right: 2.1563rem;
  padding-bottom: 1.3875rem;
}
.header-button {
  height: 100%;
  margin-left: .5rem;
  width: 19.5625rem;
  word-spacing: .0187rem;
}
.seporator {
  background: #5c8ee5;
  width: 150px;
  height: 2px;
  margin-left: .5625rem;
}
.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}
.header-title {
  max-width: 67.5rem;
  font-family: 'Bebas Neue';
  font-size: 4.9813rem;
  font-weight: 200;
  line-height: 120%;
  padding-right: 2.7188rem;
  padding-left: .5625rem;
  margin: 1.4375rem 0;
  letter-spacing: .0063rem;
  word-spacing: .025rem;
}
.header-text {
  max-width: 45rem;
  font-family: "Noto Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 380;
  line-height: 162%;
  margin-top: 2.4375rem;
  margin-bottom: 3.125rem;
  padding-left: .5rem;
  letter-spacing: .0125rem;
  word-spacing: .0125rem;
}
.header-features {
  display: flex;
  min-height: 10.5rem;
  width: 90rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  position: relative;
  margin-left: .5rem;
}
.logo-features {
  width: 2.25rem;
  height: 2.25rem;
}
.header-features-item {
  padding: 1.8125rem 3.125rem;
  width: 18rem;
  border: .0625rem solid rgba(235, 235, 240, 0.20);
}
.header-features-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;  
  letter-spacing: -0.0063rem;
  margin-bottom: -0.0625rem;
  margin-top: 1.0063rem;
}
.header-features-item:not(:last-child) {
  border-right: none;
}
.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}
.section-title {
  font-family: 'Bebas Neue';
  font-size: 3.75rem;
  font-weight: 400;  
  line-height: 120%;  
  color: #292d33;
  margin-top: 1.5rem;
  margin-left: .5625rem;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
  margin-left: .5625rem;
}
.steps-item {
  max-width: 20.625rem;
}
.steps-num {
  font-family: "Bebas Neue";
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
  color: #5c8ee5;
  display: flex;
  align-items: center;
  margin-top: .125rem;
}
.steps-num::after{
  content: "";
  height: .0625rem;
  background: #ebebf0;
  width: 100%;
  margin-left: 2.375rem;
}
.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 2.0625rem;
  margin-bottom: .625rem;  
  padding-right: 1.875rem;
  letter-spacing: .0125rem;  
}
.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: .8125rem;
  margin-bottom: 1.1875rem;
  padding-right: 1.875rem;
  letter-spacing: .0063rem;
  word-spacing: -0.0125rem;
  
}
.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee5;
  letter-spacing: .0125rem;
  padding-top: .075rem;
}
.steps-link::before {
  content: "";
  height: .0625rem;
  background: #5c8ee5;
  width: 2.5rem;
  margin-right: 1.25rem;
}
@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }
  .header-image {
    background-position: center;
  }
}
@media (max-width: 1487px) {  
  .header-logo {
    padding: 2rem;
  }
  .logo-svg {
    max-width: 6rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .header-phone {
    margin-right: 2rem;
  }
}
@media (max-width: 1277px) {
  .container {
    max-width: 70rem;
  }
  .header-phone {
    display: none;
  }  
  .navbar {
    height: 5rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .header-features {
    width: 100%;
  }
}
@media (max-width: 1180px) {
  html {
  font-size: 13px;
  }
}
@media (max-width: 1000px) {
    .header-nav {
      padding-left: 1rem;
    }
  }
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 60rem;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .mobile-menu-toggle {
    width: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.8rem;
    border-right: 1px solid rgba(235, 235, 240, 0.20);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;    
    fill: #ffffff;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;    
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    color: #292d33;

  }
  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  .mobile-submenu-link {
    text-decoration: none;    
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    color: #828a99;
  }
  .mobile-phone {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;    
    color: #292d33;
    text-decoration-line: underline;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: .625rem;
    margin-bottom: 1rem;
  } 
  .mobile-info-address, 
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;  
    color: #292d33;
  }
  .network-buttons {
    display: flex;
    gap: 15px;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(9.8px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-9.8px);
  }
}
@media (max-width: 852px) {
  .header-features, .steps {
    overflow: hidden;
  }
}